body {
    display: flex;
    flex-direction: column;
}

.game {
    text-align: center;
}

canvas {
    border: 1px solid #000;
}

#answer {
    // display: flex;
    padding: 20px;
    // flex-wrap: wrap;
}