body {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

button {
    cursor: pointer;
}

.game {
    text-align: center;
}

.canvas-container {
    height: auto;
    margin: 0 auto;
    z-index: -1;
}

canvas {
    cursor: url('/images/magnifier-01.png'), pointer;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(87, 87, 87, 1);
    -moz-box-shadow: 3px 3px 4px 0px rgba(87, 87, 87, 1);
    box-shadow: 3px 3px 4px 0px rgba(87, 87, 87, 1);
    z-index: 1;
}

#calculate {
    display: none;
}

#answer {
    padding: 20px;
}